<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Y2_ADMS_Event_Integ_MidtermProj_PetShopInventory.Properties.Settings.PetChestConnectionString"
            connectionString="Data Source=DESKTOP-PPNR6BQ\SQLEXPRESS;Initial Catalog=PetChest;Integrated Security=True;Connect Timeout=30;Encrypt=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>